<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=adge" />
        <meta name="viewport" content="width=device-width, initial-sclae=1.0"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <title>My Blog</title>
    </head>
    <body>
        <header>It is header</header>
        <main>
            @RenderBody()
        </main>
        <footer>It footer</footer>
    </body>
</html>
